

#content {
    display: grid;
    grid-template-columns: repeat(12,8%);
    grid-template-rows: repeat(12,8%);
    height: 100%;
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#Logo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 9;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
}

#title {
    text-align: center;
    font-size:40px;
    font-weight:500;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 9;
    height: 100%;
    width: 100%;

    color:grey;
}

#block {
    border:2px solid #0dbfdd;
    border-radius: 10px;
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 5;
    grid-column-end: 9;
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


#toRegister {
    text-align: center;
    font-size:20px;
    font-weight:400;
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 9;
    height: 100%;
    width: 100%;
    color:grey;
}

#spantext {
    color:#0dbfdd;
    cursor: pointer;
}

.putinform {
    width: 80%;
    height: 20%;
    margin-bottom: 7%;
    border-radius: 10px;
    font-size:25px;
    font-weight:300;
    border-color: #0dbfdd;
}

#confirm {
    width: 80%;
    height: 20%;
    border-radius: 10px;
    background-color: #0dbfdd;
    border-color: #0dbfdd;
}

#word {
    color:white;
    font-weight:600;
    font-size:25px;
}

input::-webkit-input-placeholder{
    color:#cccbcb;
}
input {outline:none;}